form {/*border: 1px solid #ddd; */ padding: 10px; margin: 25px 0; }
form fieldset { border: 0; padding: 10px 25px 15px; margin: 0; }
form fieldset legend { display: none; }
form p { height: 1%; }
form p:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
form label{
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;  
  font-size: 1em;
	color: #333;
}
.alabel{
  display: block;
	width: 10%;
  margin-top: 27px;
	margin-right: 20px;
}
form p label {
  @extend .alabel;
  float: left;
}
form p input,
form p select,
form p textarea { 
	font-size: 1em;
	color: #333; 
	border: 1px solid #ddd; 
	padding: 8px; 
	background-color: #eee;
  margin-bottom: 10px;
	width: 25%; 
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
}
form p select { width: 57.5%; }
form ul.fieldlist { margin: -30px 0 10px 33%; padding: 0; list-style-type: none; }
form ul.fieldlist li { color: #333; padding: 0 30px 5px 0; white-space: nowrap; }
form input.btn,
a.btn {
	width: auto; 
	overflow: visible;
	border: 0;
	background: #099; 
	padding: 8px 10px;
	cursor: pointer; 
	color: #fff;
	text-decoration: none;
	font-weight: bold;
  width: 20%;
	}
a.btn:hover { background-color: #ccc; color: #333; }